<div class="translation-container">
  <h1>Machine Translation</h1>
  <textarea [(ngModel)]="text" rows="5" placeholder="Enter text to translate" class="translation-textarea"></textarea><br>

  <label for="srcLang" class="language-label">From:</label>
  <select [(ngModel)]="srcLang" id="srcLang" class="language-select">
    <option value="de">German</option>
    <option value="en">English</option>
  </select>

  <label for="tgtLang" class="language-label">To:</label>
  <select [(ngModel)]="tgtLang" id="tgtLang" class="language-select">
    <option value="en">English</option>
    <option value="de">German</option>
  </select>

  <button (click)="translate()" class="translate-button">Translate</button>

  <h3>Translation:</h3>
  <p class="translation-result">{{ translation }}</p>
</div>
